body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    overflow: hidden; /* Empêche le débordement de la page */
    box-sizing: border-box; /* S'assure que padding et border sont inclus dans la hauteur/largeur */
}

* {
    box-sizing: inherit;
}

#main-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100vh;
    width: 100vw; /* S'assure que le conteneur principal ne dépasse pas la largeur de la vue */
    overflow: hidden;
}

#menu-container {
    background-color: #003366;
    padding: 5px; /* Ajustez le padding pour réduire l'espace utilisé */
    color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden; /* Ajoute un overflow hidden pour éviter tout débordement */
}

#links-container h1 {
    font-size: 1.5em; /* Réduit la taille de la police */
    margin-bottom: 10px; /* Réduit la marge pour économiser de l'espace */
}

#links-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#links-container li a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 5px; /* Réduit le padding */
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s ease;
}

#links-container li a:hover {
    background-color: #0055b3;
    transform: translateX(5px);
}

#cube-container {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 10px; /* Réduit le padding */
    margin: 10px; /* Réduit la marge */
    border-radius: 5px;
    margin-top: 60px; /* Ajusté pour moins d'espace au-dessus */
    position: relative;
    height: calc(100vh - 80px); /* Réduit la hauteur totale pour éviter le défilement */
}

iframe {
    border: none;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.banner-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%; /* Taille de la bannière ajustée */
    height: auto;
    z-index: 10;
}

.cube-logo img {
    transition: transform 0.3s, filter 0.3s;
    cursor: pointer;
    margin: 0 auto;
    max-width: 100%;
    margin-bottom: 5px; /* Réduit l'espace entre les logos */
    border-radius: 5px;
}

.cube-logo:hover img {
    transform: scale(1.1);
    filter: brightness(1.5);
}
