body, html {
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

#main-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100vh;
    margin: 0; /* Suppression de la marge pour couvrir toute la hauteur de l'écran */
    overflow: hidden; /* Ajouté pour garder tout contenu débordant caché */
}

#menu-container {
    background-color: #003366; /* Couleur de l'université */
    padding: 10px; /* Réduction de la marge intérieure */
    color: white;
    border-radius: 10px; /* Bords arrondis */
    height: 100vh; /* Couvre toute la hauteur de l'écran */
    display: flex;
    flex-direction: column; /* Pour aligner les éléments en colonne */
    justify-content: space-between; /* Pour répartir les éléments de manière égale sur l'axe vertical */
}

#links-container h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

#links-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0; /* Suppression de la marge */
}

#links-container li a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px;
    border-radius: 10px; /* Bords arrondis */
    transition: background-color 0.3s, transform 0.2s ease; /* Ajouté transformation pour effet au survol */
}

#links-container li a:hover {
    background-color: #0055b3;
    transform: translateX(5px); /* Déplace légèrement l'élément vers la droite au survol */
}

#cube-container {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 20px; /* Ajouté pour un espacement intérieur */
    margin: 20px; /* Ajouté pour un espacement extérieur */
    border-radius: 10px; /* Bords arrondis */
	margin-top: 20px; /* Ajustez la valeur selon le besoin
    position: relative; /* Position relative pour les éléments enfants positionnés absolument */
	
}

iframe {
    border: none;
    width: 100%;
    height: 100%; /* Modifié pour utiliser toute la hauteur disponible du conteneur */
    box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Ombre portée pour l'iframe */
    position: absolute; /* Position absolue pour remplir le conteneur */
    top: 0;
    left: 0;
}

.banner-container {
    position: absolute; /* Position absolue pour placer la bannière */
    top: 0;
    left: 0;
    width: 100%;
    height: auto; /* Hauteur automatique pour adapter à la largeur */
    z-index: -1; /* Pour placer la bannière en arrière-plan */
}

/* Styles pour les logos des ODD dans la grille */
.cube-logo img {
    transition: transform 0.3s, filter 0.3s;
    cursor: pointer;
    margin: 0 auto; /* Centre l'image dans la colonne */
    max-width: 100%; /* Taille maximale de l'image */
    margin-bottom: 10px; /* Espacement entre les icônes */
    border-radius: 10px; /* Bords arrondis */
}

.cube-logo:hover img {
    transform: scale(1.1);
    filter: brightness(1.5);
}
